body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(to right,white,white,white);
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
}

form{
    background:white;
    width:380px;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

h2{
    color:#002654;
    margin-bottom:10px;
}

h3{
    color:#0055A4;
    margin-bottom:20px;
}

a{
    display:block;
    margin:12px 0;
    padding:12px;
    background:#002654;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

a:hover{
    background:#EF4135;
    transform:scale(1.05);
}

a:active{
    transform:scale(0.98);
}