body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
text-align: center;
}

h2{
    color:#002654;
}

table {
width: 70%;
margin: 20px auto;
border-collapse: collapse;
background-color: white;
}

caption {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

th{
background-color:#002654;
color:white;
padding:10px;
}

td {
border: 1px solid #cccccc;
padding: 8px;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:hover {
background-color: #dff0d8;
}

nav{
background:#002654;
padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

tr:hover{
background-color:#dff0d8;
}

tbody tr:hover{
background:#dbe9ff;
}